.fighter-detail {
  $panel-spacing: 6px;
  background-color: #191919;
  $ko-color: $primary-color;
  $submission-color: #F7BB09;
  $decision-color: #555555;
  $win-color: #8DB600;
  $loss-color: $primary-color;
  $panel-color: #202020;
  overflow-x: hidden;

  .fighter-image-col {
    width: 9%;
    @include media(825px) {
      width: 12%;
    }
    @include media(667px) {
      width: 15%;
    }
    @include media(320px) {
      width: 25%;
    }
  }
  .text-col {
    width: 91%;
    @include media(825px) {
      width: 88%;
    }
    @include media(667px) {
      width: 85%;
    }
    @include media(320px) {
      width: 75%;
    }
  }

  .content {
    padding: $panel-spacing;
    margin: 0 auto;
    width: 75%;
    max-width: 856px;

    @include media(mobile) {
      width: 100%;
    }
  }

  .row {
    margin-top: $panel-spacing;
    margin-bottom: $panel-spacing;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .ko {
    color: $ko-color;
  }

  .submission {
    color: $submission-color;
  }

  .decision {
    color: $decision-color;
  }

  .other {
    color: #0f0f0f;
  }

  .panel {
    background-color: $panel-color;
    color: white;
    margin-bottom: 0;
    @include border-radius(0px);
  }

  .fight {
    //margin-top: $panel-spacing/2;
    //margin-bottom: $panel-spacing;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    &:first-child {
      margin-top: $panel-spacing;
    }
    &:last-child {
      margin-bottom: $panel-spacing;
    }

    &:nth-child(odd) {
      .detail {
        background-color: lighten($panel-color, 3%);
      }
    }

    &:nth-child(even) {
      .detail {
        background-color: $panel-color;
      }
    }

    @include col-xs() {
      padding-left: 3px;
      padding-right: 3px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
    }
    .opponent-image {
      @extend .panel;
      padding: 8px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
    .detail {
      @extend .panel;
      padding: 8px;
      border-left: 10px $win-color solid;
      color: #f0f0f0;
      .title {
        font-weight: lighter;
        font-size: 120%
      }
      p {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.win {
        border-left-color: $win-color;
      }
      &.loss {
        border-left-color: $loss-color;
      }
      &.no-contest {
        border-left-color: $decision-color;
      }
    }
  }

  %panel-row {
    //margin: $panel-spacing/2 0;
    margin-left: 0;
    margin-right: 0;
    @include col-xs() {
      padding-left: 3px;
      padding-right: 3px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .panel {
      .text {
        text-align: center;
        font-size: 275%;
        position: relative;
        p {
          margin-bottom: 0;
        }
        .title {
          font-size: 100%;
          font-family: $condensed-font;
        }
        .subtitle {
          color: #ABABAB;
          font-weight: 100;
          text-transform: uppercase;
          font-size: 25%;
          position: relative;
          bottom: 8px;
        }
      }

    }
  }

  .legend {
    @extend %panel-row;
  }

  .info {
    @extend %panel-row;
    .fighter-image {
      @extend .panel;
      padding: 8px;
      height: 114px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
    .panel {
      padding: 8px;
      .text {
        text-align: left;
        font-size: 100%;
        p {
          margin-bottom: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .first-name {
          font-size: 100%;
          line-height: 100%;
          text-transform: uppercase;
          font-weight: 300;
        }
        .nickname {
          color: #F7BB09;
          font-style: italic;
        }
        .last-name {
          font-size: 225%;
          line-height: 100%;
          text-transform: uppercase;
          font-family: $condensed-font;
        }
        .record {
          font-size: 200%;
          line-height: 100%;
          font-weight: 100;
        }
        .weight-class {
          font-size: 100%;
          line-height: 108%;
          color: #555555;
        }
      }
    }
  }

  .bio {
    @extend %panel-row;
    //@include col-xs() {
    .panel {
      .text {
        font-size: 225%;
        .subtitle {
          bottom: 4px;
        }
      }
    }
    //}
  }

  .donut-graph {
    margin-left: 0;
    margin-right: 0;
    @include col-xs() {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .fn-donut-graph {
    @extend .panel;
    text-align: center;
    padding: 10px 0;
    position: relative;
    height: auto;
    //margin: $panel-spacing/2 0;

    &.small {
      .text {
        .title {
          font-size: 1em;
        }
        .subtitle {
          font-size: 1em;
        }
      }
    }


    .text {
      position: absolute;
      margin: auto;
      width: 50%;
      height: 36%;
      z-index: 10;
      font-size: 432.5%;
      line-height: 56%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      .title {
        font-family: $condensed-font;
        font-size: 100%;
        margin-bottom: 15px;
      }
      .subtitle {
        color: #ABABAB;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 25%;
      }
      @include media(mobile) {
        height: 38%;
      }
    }

    svg {
      //transform: rotate(-90deg);
      //background: #191919;
      border-radius : 50%;
      margin-left: auto;
      margin-right: auto;
      //left: -5px;

      %donut {
        stroke-width: 4;
        fill: none;
        &:first-child {
          fill: #191919;
        }
      }

      .donut-0 {
        @extend %donut;
        stroke: $primary-color;
        stroke-width: 4;
        //stroke-dasharray: 38 137; /* for 38% */
      }

      .donut-1 {
        @extend %donut;
        stroke: #F7BB09;
      }

      .donut-2 {
        @extend %donut;
        stroke: #555555;
      }

      .donut-3 {
        @extend %donut;
        stroke: #0f0f0f;
      }

      .donut-4 {
        @extend %donut;
        stroke: #0f0f0f;
      }

      .hole {
        fill: #202020;
      }

    }

  }
}