.index {
  //$light-font: 'Monsterrat-Light', sans-serif;
  //$thin-font: 'Monsterrat-Hairline', sans-serif;
  //$bold-font: 'Monsterrat-Bold', bold;
  //$regular-font: 'Monsterrat-Regular', sans-serif;
  //$brand-font: 'MonsterratAlternates-Regular', sans-serif;
  $brand-font: $regular-font-family;

  .brand {
    font-family: $brand-font;
  }
  .light {
    font-family: $light-font-family;
  }
  .thin {
    font-family: $thin-font-family;
  }
  .bold {
    font-family: $bold-font-family;
  }

  .features {
    padding-top: 5%;
    padding-bottom: 5%;
    .title {
      font-family: $light-font-family;
      @include media(mobile) {
      }
    }

    .subtitle {
      font-family: $light-font-family;
    }

    .divider-container {
      padding: 2.5% 0 6.5% 0;
      .divider {
        color: $primary-color;
        font-size: 112.5%;
        padding: 0 4px;
        @include media(tablet) {
          font-size: 112.5%;
        }
      }
      @include media(desktop) {
        padding: 2.5% 0 2.5% 0;
      }
    }

    .feature-list {
      list-style: none;
      padding: 0;
      li {
        padding: 30px 0;
        position: relative;
        .title {
          font-family: $light-font-family;
          color: $primary-color;
          margin-top: 10px;
        }
        .text {
          font-family: $light-font-family;
          line-height: 187.5%;
          font-size: 110%;
        }

        @include media(screen) {
          padding: 15px 0;
        }

        @include media(tablet) {
          text-align: center;
          padding: 10px 0;
        }
      }
      .feature-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;

      }
    }

    .iphone-mockup {
      display: block;
      @include media(desktop) {
        margin-top: 100px;
      }
      @include media(tablet) {
        margin: 0 auto;
      }
    }
  }

  .banner {
    padding-top: 17%;
    //height: 75vh;
    position: relative;

    .video-container {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      video {
        min-width: 100%;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
      }

    }

    .banner-text {
      position: relative;
      z-index: 10;
      background-image: url('img/phone-mockup.png');
      background-repeat: no-repeat;
      background-position: 100% 0%;
      height: 520px;
      max-width: 950px;
      min-width: 900px;
      color: white;
      text-align: left;

      @include media(900px) {
        min-width: 820px;
      }

      @include media(tablet) {
        background-image: none;
        text-align: center;
        min-width: 0;
        height: auto;
        min-height: 75vh;
        padding: 10% 0 25% 0;
      }

      .app-icon {
        margin-top: 110px;
        @include border-radius(20px);
        @include media(tablet) {
          margin-top: 0;
        }
      }
      .title {
        font-size: 400%;
      }
      .subtitle {
        font-size: 200%;
      }
      .body {
        font-size: 150%;
      }
      .badges {
        margin-top: 30px;
        a {
          padding: 0 10px;
          &:first-child {
            padding: 0 0;
          }
        }
        img {
          width: auto;
          height: 55px;
          margin-bottom: 10px;
          @include media(900px) {
            height: 45px;
          }
          @include media(tablet) {
            height: 55px;
          }

        }
      }
    }

  }
}