{% load i18n %}
{% load staticfiles %}
{% load compress %}
<html {% block html_attributes %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>{% block title %}{{ site_display_name }} | Get quality photo and video services on demand{% endblock %}</title>
    <link href="{% static "app.css" %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    {% block links %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
</body>
<script src="{% static "app.js" %}"></script>
{% block scripts %}{% endblock %}
</html>