{% extends "base.html" %}
{% load static %}
{% load cache %}
{% block title %}{{ site_display_name }} | All things MMA, UFC, Bellator, Invicta, WSOF, OneFC, and free fight videos{% endblock %}
{% block body_attributes %}class="index"{% endblock %}
{% block body %}
    <div class="content">
        <section class="banner">
            <div class="video-container">
                <video class="" autoplay="autoplay" loop="loop" poster="{% static "img/poster.jpg" %}">
                    <source src="{% static "vid/mma.mp4" %}" type="video/mp4">
                    <source src="{% static "vid/mma.ogg" %}" type="video/ogg">
                    <source src="{% static "vid/mma.webm" %}" type="video/webm">
                </video>

            </div>
            <div class="container banner-text">
                <img class="app-icon" src="{% static "img/app-icon.png" %}">
                <h1 class="title brand">{{ site_display_name }}</h1>
                <h2 class="subtitle light">All things MMA</h2>
                <div class="badges">
                    <a href="https://itunes.apple.com/us/app/thecage-free-mma-news-video/id723979179?mt=8"><img src="{% static "svg/ios-badge.svg" %}"/></a>
                    <a href="https://play.google.com/store/apps/details?id=com.ez3.android.cagejunkie"><img src="{% static "img/android-badge.png" %}"/></a>
                </div>
            </div>
        </section>
        <section class="container features">
            <h1 class="text-xs-center title">For fans like you, by fans like you</h1>
            <div class="text-xs-center divider-container">
                <span class="fa fa-square divider"></span>
                <span class="fa fa-square divider"></span>
                <span class="fa fa-square divider"></span>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="text-right feature-list left">
                        <li>
                            <img class="img-responsive feature-icon" src="{% static "img/feature_news.png" %}"/>
                            <h3 class="title">Breaking News</h3>
                            <p class="text">
                                Whether it's Conor McGregor's latest antics or the announcement of a new challenger for the belt, {{ site_display_name }} brings the world's most popular and influential MMA stories right to your fingertips.
                            </p>
                        </li>
                        <li>
                            <img class="img-responsive feature-icon" src="{% static "img/feature_rankings.png" %}"/>
                            <h3 class="title">Track Fighter Rankings</h3>
                            <p class="text">Stay up to date on the top ranked fighters of each weight class. Look up a fighter's history, finishing rate, and specialty to see how they stack up when they face the champ.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <img class="img-fluid iphone-mockup" src="{% static "img/iphone-mockup.jpg" %}"/>
                </div>
                <div class="col-sm-4">
                    <ul class="feature-list right">
                        <li>
                            <img class="img-responsive feature-icon" src="{% static "img/feature_calendar.png" %}"/>
                            <h3 class="title">Upcoming Events</h3>
                            <p class="text">
                                Trouble keeping track of upcoming fights in major MMA organizations such as the UFC, Bellator, WSOF, and Invicta? {{ site_display_name }} will remind fight fans when future scraps take place.
                            </p>
                        </li>
                        <li>
                            <img class="img-responsive feature-icon" src="{% static "img/feature_video.png" %}"/>
                            <h3 class="title">Watch Free Fights</h3>
                            <p class="text">Use your tablet or phone to watch fights from the UFC, Bellator, WSOF, and more. Watch weigh-ins, interviews, and fighter breakdowns. Totally absolutely 100% free.</p>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
    </div>
    {% block footer %}
        {% cache 3600 footer %}
            <footer class="{% block footer_class %}footer{% endblock %}" id="footer">
                <div class="text-xs-center icon-container">
                    <a class="fa fa-facebook-official fa-2x icon hvr-fade" href="https://www.facebook.com/cagejunkie"></a>
                    <a class="fa fa-twitter-square fa-2x icon hvr-fade" href="https://twitter.com/theCageApp"></a>
                    <a class="fa fa-envelope fa-2x icon hvr-fade" href="mailto:info@thecageapp.com"></a>
                </div>
                <div class="container text-xs-center copyright">
                    © 2016 {{ site_display_name }}
                </div>
            </footer>
        {% endcache %}
    {% endblock %}
{% endblock %}