$dark-gray: #414141;
$medium-gray: #555;
$gray: #828282;
$light-gray: #ccc;
$orange-coral: #F88379;
$error-message-color: #a94442;
$secondary-background-color: #ebebeb;
$muted-text-color: $gray;
$muted-accent-text-color: #b6655e;
$facebook-blue: #3b5998;
$red-coral: #E14233;
$carmine: #E14233;
$primary-color: $carmine;