// FontAwesome overrides
$fa-font-path: "fonts/font_awesome";

// Bootstrap ovverides
$font-family-sans-serif: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
$font-family-base:       $font-family-sans-serif;

$condensed-font: 'CabinCondensedRegular', sans-serif;
$thin-font: 'MonsterratHairline', sans-serif;
$regular-font-family: 'MonsterratRegular';
$light-font-family: 'MonsterratLight';
$thin-font-family: 'MonsterratHairline';
$bold-font-family: 'MonsterratBold';