@import "colors";
@import "mixins";
@import "fonts";
@import "variables";
@import "twitter";
@import "classes";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";

.footer {
  padding: 2% 0 2% 0;
  background-color: #000000;
  color: #ffffff;
  .icon-container {
    padding: 5px 0;

    .icon {
      padding: 0 5px 0 5px;
      color: #ffffff;
      //&.fa-envelope {
      //  font-size: 1.58em;
      //}
      &:hover , &:focus{
        background-color: transparent;
        color: white;
        text-decoration: none;
      }
    }
  }

  .copyright {
    font-family: 'Monsterrat-Light', sans-serif;
    padding: 10px 0;
    //padding-top: 5px;
  }

}

span {
  &.highlight {
    color: $primary-color;
  }
}

.video-body {
  min-height: 150vh;
  a {
    color: $primary-color;
  }

  iframe {
    width: 100%;
    height: auto;
    border: none;
    &.video {
      min-height: 87.5vh;
      @include media(mobile) {
        min-height: 62.5vh;
      }
    }
  }

  .content {
    background-color: white;
    line-height: 1.75;
    width: 87.5%;
    font-size: 1.15em;

    @include media(mobile) {
      width: 100%;
    }

    .title {
      margin-top: 20px;
    }

    .title, .subtitle {
      text-align: center;
      line-height: 1.2;
    }

    .subtitle {
      .fa-circle {
        font-size: 0.5em;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }
}

.article-body {
  min-height: 125vh;
  table {
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: $primary-color;
  }

  iframe:not(.instagram-media) {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    &.video {
      min-height: 320px;
      @include media(mobile) {
        min-height: 240px;
      }
    }
  }
  background-color: white;

  .article-video {
    min-height: 480px;
    @include media(mobile) {
      min-height: 240px;
    }
    iframe {
      margin-bottom: 0;
      border: none;
      min-height: 480px;
      @include media(mobile) {
        min-height: 240px;
      }
    }
  }

  .article-image {
    height: 50vh;
    min-height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include media(mobile) {
      height: 37.5vh;
    }
  }

  .article-content {
    padding-bottom: 25%;
    background-color: white;
    line-height: 1.75;
    width: 72.5%;
    font-size: 1.15em;

    @include media(mobile) {
      width: 100%;
    }

    p {
      color: #444;
      margin-bottom: 20px;
    }

    blockquote {
      padding: 10px 20px;
      border-left: solid 5px $primary-color;
      background-color: #f5f5f5;
      p {
        font-size: 1em;
        color: #444;
        line-height: 1.75;
      }
    }

    .title {
      margin-top: 20px;
    }

    .title, .subtitle {
      text-align: center;
      line-height: 1.2;
    }
    .title-separator {
      margin-left: 32.5%;
      margin-right: 32.5%;
    }

    .subtitle {
      //font-size: 0.875rem;
      .fa-circle {
        font-size: 0.5em;
        vertical-align: middle;
        margin: 0 5px;
      }
    }

  }
}

@import "pages/fighter_detail";
@import "pages/index";
