{% extends "base.html" %}
{% block title %}{{ site_display_name }} | {{ article.title }}{% endblock %}
{% block body_attributes %}class="article-body"{% endblock %}
{% block body %}
    {% if article.video_url %}
        {% if article.do_use_iframe %}
            <section class="article-video">
                <div>
                <iframe class="video" src="{{ article.video_url }}">
                </iframe>
                </div>
            </section>
        {% else %}
            <section class="article-video">
                <video width="100%" height="auto" loop="" preload="none" poster="{{ article.image_url }}" controls>
                    <source src="{{ article.video_url }}" type="video/mp4" class="mp4-source">
                </video>
            </section>
        {% endif %}
    {% elif article.image_url %}
        <section class="article-image" style="background-image: url('{{ article.image_url }}');">
        </section>
    {% endif %}
    <section class="article-content container">
        <h3 class="title">{{ article.title }}</h3>
        <h6 class="subtitle">{{ article.author }}<span class="fa fa-circle"></span><span class="highlight">{{ article.publication }}</span></h6>
        <h6 class="subtitle"><i>{{ article.date|date:"F j, o" }}</i></h6>
        <hr class="title-separator"/>
        {{ article.content|safe }}
    </section>
{% endblock %}