{% extends "base.html" %}
{% block title %}{{ site_display_name }} | {{ video.title }}{% endblock %}
{% block body_attributes %}class="video-body"{% endblock %}
{% block body %}
    <section class="video">
        <div>
            <iframe class="video" src="{{ video.embed_url }}">
            </iframe>
        </div>
    </section>
    <section class="content container">
        <h3 class="title">{{ video.title }}</h3>
        <h5 class="subtitle"><span class="highlight">{{ video.channel }}</span></h5>
        <h6 class="subtitle"><i>{{ video.date|date:"F j, o" }}</i></h6>
    </section>
{% endblock %}