{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}{{ site_display_name }} | {{ fighter.full_name }}{% endblock %}
{% block body_attributes %}class="fighter-detail"{% endblock %}
{% block body %}
    <section class="container content">
        <div class="row info">
            <div class="col-xs-3 col-sm-2 col-md-1 fighter-image-col">
                {% if fighter.image and not is_google_a_bag_of_dicks %}
                    <div class="fighter-image" style="background-image: url('{{ fighter.image.url }}');">
                    </div>
                {% else %}
                    <div class="fighter-image" style="background-image: url('{% static "img/unknown-fighter.png" %}');">
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 text-col">
                <div class="panel">
                    <div class="text">
                        <p class="first-name">{{ fighter.first_name }}{% if fighter.nickname %} <span class="nickname">"{{ fighter.nickname }}"</span>{% endif %}</p>
                        <p class="last-name">{{ fighter.last_name }}</p>
                        <p class="record">{{ fighter.wins }}-{{ fighter.losses }}{% if fighter.draws > 0 %}-{{ fighter.draws }}{% endif %}{% if fighter.no_contests > 0 %}<span class="no-contest"> {{ fighter.no_contests }} NC</span>{% endif %}</p>
                        <p class="weight-class">{{ fighter.weight_class_label }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bio">
            <div class="col-xs-3">
                <div class="panel">
                    <div class="text">
                        <p class="title">{{ fighter.age|default_if_none:"-" }}</p>
                        <p class="subtitle">AGE</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel">
                    <div class="text">
                        <p class="title">{{ height|default_if_none:"-" }}</p>
                        <p class="subtitle">HEIGHT</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="panel">
                    <div class="text">
                        <p class="title">{{ weight|default_if_none:"-" }}</p>
                        <p class="subtitle">WEIGHT (LBS)</p>
                    </div>
                </div>
            </div>
        </div>

        {% with column_width=has_wins_by_other|yesno:"3,4,4" %}
            <div class="row donut-graph">
                <div class="col-xs-12">
                    <div class="fn-donut-graph">
                        <div class="text">
                            <p class="title">{{ fighter.wins }}</p>
                            <p class="subtitle">wins</p>
                        </div>
                        <svg viewBox="0 0 100 50">
                            {% if fighter.wins > 0 %}
                                <circle class="donut-0" stroke-dasharray="{{ wins_graph.a|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                <circle class="donut-1" stroke-dashoffset="-{{ wins_graph.b_offset|mul:137 }}" stroke-dasharray="{{ wins_graph.b|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                <circle class="donut-2" stroke-dashoffset="-{{ wins_graph.c_offset|mul:137 }}" stroke-dasharray="{{ wins_graph.c|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                {% if has_wins_by_other %}
                                    <circle class="donut-3" stroke-dashoffset="-{{ wins_graph.d_offset|mul:137 }}" stroke-dasharray="{{ wins_graph.d|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                {% endif %}
                            {% else %}
                                <circle class="donut-4" stroke-dasharray="137,137" r="22" cx="50" cy="25"></circle>
                            {% endif %}
{#                            <circle class="hole" r="2" cx="50" cy="25"></circle>#}
                        </svg>
                    </div>
                </div>
            </div>
            {% if fighter.wins > 0 %}
                <div class="row legend">
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title ko">{{ fighter.wins_by_knockout }}</p>
                                <p class="subtitle">KO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title submission">{{ fighter.wins_by_submission }}</p>
                                <p class="subtitle">SUB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title decision">{{ fighter.wins_by_decision }}</p>
                                <p class="subtitle">DEC</p>
                            </div>
                        </div>
                    </div>
                    {% if has_wins_by_other %}
                        <div class="col-xs-{{ column_width }}">
                            <div class="panel">
                                <div class="text">
                                    <p class="title other">{{ fighter.wins_by_other }}</p>
                                    <p class="subtitle">OTHER</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
        {% with column_width=has_losses_by_other|yesno:"3,4,4" %}
            <div class="row donut-graph">
                <div class="col-xs-12">
                    <div class="fn-donut-graph">
                        <div class="text">
                            <p class="title">{{ fighter.losses }}</p>
                            <p class="subtitle">losses</p>
                        </div>
                        <svg viewBox="0 0 100 50">
                            {% if fighter.losses > 0 %}
                                <circle class="donut-0" stroke-dasharray="{{ losses_graph.a|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                <circle class="donut-1" stroke-dashoffset="-{{ losses_graph.b_offset|mul:137 }}" stroke-dasharray="{{ losses_graph.b|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                <circle class="donut-2" stroke-dashoffset="-{{ losses_graph.c_offset|mul:137 }}" stroke-dasharray="{{ losses_graph.c|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                {% if has_losses_by_other %}
                                    <circle class="donut-3" stroke-dashoffset="-{{ losses_graph.d_offset|mul:137 }}" stroke-dasharray="{{ losses_graph.d|mul:137 }},137" r="22" cx="50" cy="25"></circle>
                                {% endif %}
                            {% else %}
                                <circle class="donut-4" stroke-dasharray="137,137" r="22" cx="50" cy="25"></circle>
                            {% endif %}
{#                            <circle class="hole" r="2" cx="50" cy="25"></circle>#}
                        </svg>
                    </div>
                </div>
            </div>
            {% if fighter.losses > 0 %}
                <div class="row legend">
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title ko">{{ fighter.losses_by_knockout }}</p>
                                <p class="subtitle">KO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title submission">{{ fighter.losses_by_submission }}</p>
                                <p class="subtitle">SUB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-{{ column_width }}">
                        <div class="panel">
                            <div class="text">
                                <p class="title decision">{{ fighter.losses_by_decision }}</p>
                                <p class="subtitle">DEC</p>
                            </div>
                        </div>
                    </div>
                    {% if has_losses_by_other %}
                        <div class="col-xs-{{ column_width }}">
                            <div class="panel">
                                <div class="text">
                                    <p class="title other">{{ fighter.losses_by_other }}</p>
                                    <p class="subtitle">OTHER</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
        {% for fight in fights %}
            <div class="row fight">
                <div class="col-xs-9 col-sm-10 col-md-11 text-col">
                    <div class="detail {% if fight.is_winner %}win{% elif fight.is_loser %}loss{% else %}no-contest{% endif %}">
                        <p class="title">vs {{ fight.opponent.full_name }}</p>
                        <p class="text-muted">{{ fight.method }}</p>
                        <p class="text-muted">Round {{ fight.round }} - {{ fight.time }}</p>
                        <p class="text-muted">{{ fight.date|date:"" }}</p>
                        <p class="text-muted">{{ fight.event.name }}</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 fighter-image-col">
                    {% if fight.opponent.image and not is_google_a_bag_of_dicks %}
                        <div class="opponent-image" style="background-image: url('{{ fight.opponent.image.url }}');">
                        </div>
                    {% else %}
                        <div class="opponent-image" style="background-image: url('{% static "img/unknown-fighter.png" %}');">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}