{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}{{ site_display_name }} | {{ fighter.full_name }}{% endblock %}
{% block body_attributes %}class="fighter-detail"{% endblock %}
{% block body %}
    <section class="container content">
    <h1>
        This is the TALE OF THE TAPE!!!
    </h1>
    </section>
{% endblock %}