{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
    <link href="{% static "stylesheets/styles.css" %}" rel="stylesheet">
</head>
<body {% block body_tags %}{% endblock %}>
<div class="wrapper-block">
    {% block navbar %}
        <nav class="navbar navbar-default hippo-navbar-primary">
            <div class="container">
                <div class="navbar-header">
                    <a class="brand" href="#">hippo</a>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 footer-text">
                    © 2014 Nexus 8 International LLC
                </div>
                <div class="col-xs-6 text-right">
                    <a href="#"><img class="social-media-badge" src="{% static "images/badge_facebook.png" %}" alt="Facebook" /></a>
                    <a href="#"><img class="social-media-badge" src="{% static "images/badge_twitter.png" %}" alt="Twitter"/></a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{% static "js/libs/libs.min.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>