{% extends "users/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="center-block user-change-password-form-block">
            <h2 class="hippo-bold hippo-lowercase form-title">{% trans "Password reset" noop %}</h2>
            <h4 class="hippo-color-dark-gray form-subtitle">{% trans "Please enter a new password below" noop %}</h4>
            <form action="{% url 'user-change-password' %}" role="form" method="post" data-parsley-validate>
                {% csrf_token %}
                {% include "snippets/form_errors.html" with errors=form.non_field_errors only%}
                <div class="form-group">
                    {{ form.new_password1 }}
                    {% include "snippets/field_errors.html" with errors=form.new_password1.errors only%}
                </div>
                <div class="form-group">
                    {{ form.new_password2 }}
                    {% include "snippets/field_errors.html" with errors=form.new_password2.errors only%}
                </div>
                <button type="submit" class="btn btn-hippo-primary" value="Submit">{% trans "Submit" noop %}</button>
            </form>
        </div>
    </div>
{% endblock %}