{% extends "users/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "hippo: Login" noop %}{% endblock %}
{% block registration_base_content %}
    <div class="container">
        <div class="center-block login-user-form-block">
            <h4 class="header-text-user-form-block">{% trans "Welcome back!" noop %}</h4>
            <form action="{% url 'users_login' %}" role="form" method="post">
                {% csrf_token %}
                {% include "snippets/field_errors.html" with errors=form.non_field_errors only%}
{#                {% include "snippets/error_list.html" with errors=form.errors only%}#}
                <div class="form-group">
                    {{ form.username }}
                    {% include "snippets/field_errors.html" with errors=form.username.errors only%}
                </div>
                <div class="form-group">
                    {{ form.password }}
                    {% include "snippets/field_errors.html" with errors=form.password.errors only%}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-hippo-green" value="Submit">{% trans "Sign in" noop %}</button>
                </div>
            </form>
            <h4><a href={% url 'users_registration' %}>{% trans "Don't have an account?" noop %}</a></h4>
        </div>
    </div>
{% endblock %}