{% extends "users/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="user-reset-password-success-block">
            <h4 class="alert alert-success hippo-bold hippo-lowercase form-title">{% trans "Reset password email sent!" noop %}</h4>
            <h4 class="hippo-color-dark-gray form-subtitle">{% trans "Check your inbox now and click the link in your reset password email. If you don't see it right away, check again in a minute or so, it's on the way." noop %}</h4>
            <div class="details-block">
                <h4><em class="hippo-serif">{% trans "Email was sent to: " noop %}</em><span class="hippo-bold">{{ email_address }}</span></h4>
                <h4><em class="hippo-serif">{% trans "The email subject will be: " noop %}</em><span class="hippo-bold">{{ subject }}</span></h4>
            </div>
        </div>
    </div>
{% endblock %}